@media only screen and (max-width: 1400px) {
  .container {
    max-width: calc(100% - 116px);
  }

  .header {
    &_in {
      gap: 32px;
    }

    &_left {
      max-width: 243px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .home {
    &__swp {
      width: calc(100% - 300px);

      .swiper-slide {
        height: 488px;
      }
    }

    ul {
      width: 300px;

      li {
        br {
          display: none;
        }

        p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .news_block {
    &__card {
      a {
        img {
          height: 152px;
        }
      }
    }
  }

  .library {
    &__item {
      .main-img {
        height: 176px;
        padding: 6px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: calc(100% - 144px);
  }

  .nav {
    &_link {
      gap: 15px;
    }
  }

  .council {
    &_block {
      width: calc(100% / 3 - 22px);
    }
  }

  .publication_cards {
    .publication_card {
      width: calc(100% / 2 - 16px);
    }
  }

  .footer {
    margin-bottom: 30px;

    &_right {
      flex-direction: column;
      gap: 16px;
    }

    &_contact {
      max-width: 100%;
      gap: 8px;
    }

    &_links {
      max-width: 100%;
      gap: 8px 16px;
    }
  }

  .news_block {
    &__card {
      a {
        img {
          height: 134px;
        }

        &:last-child {
          display: none;
        }
      }
    }
  }

  .home {
    &__swp {
      width: calc(100% - 228px);

      .swiper-slide {
        height: 368px;
      }
    }

    ul {
      width: 228px;
      
      li {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 0;

        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .library {
    &__item {
      &:nth-child(1) {
        li {
          width: calc(100% / 3 - 64px / 3);

          &:last-child {
            display: none;
          }
        }
      }

      &:nth-child(2) {
        li {
          width: calc(50% - 16px);
        }
      }
    }
  }

  .partners {
    ul {
      img {
        height: 60px;
      }
    }
  }
}

@media only screen and (max-width: 993px) {
  .container {
    max-width: calc(100% - 64px);
  }

  .news_block {
    display: none;

    &__card {
      a {
        img {
          height: 190px;
        }
      }
    }
  }

  .header {
    &_left {
      max-width: 230px;
    }
  }

  .nav {
    &_link {
      gap: 9px;

      a {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  .council {
    &_block {
      gap: 24px;
      width: calc(100% / 2 - 16px);
    }
  }

  .footer {
    margin-bottom: 22px;

    &_left {
      .main_title {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &_contact {
      gap: 4px;
    }

    &_links {
      gap: 4px 12px;
    }
  }

  .home {
    &__container {
      flex-direction: column;
      gap: 2px;
    }

    &__swp {
      width: 100%;

      .swiper-slide {
        height: 398px;
      }
    }

    ul {
      width: 100%;
      background: #EFF2F9;
      border-radius: 0 0 8px 8px;
      padding: 56px 24px 40px;
      pointer-events: none;

      li {
        border-bottom: 0;
        font-size: 16px;
        line-height: 24px;

        &:not(.active) {
          display: none;
        }

        &::before {
          display: none !important;
        }

        p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .library {
    &__item {
      li {
        display: block !important;
        width: calc(50% - 16px) !important;
      }

      .main-img {
        height: 220px;
      }
    }
  }

  .partners {
    &__list {
      overflow-y: scroll;
      width: calc(100% + 64px);
      padding: 0 32px;
      margin-left: -32px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    ul {
      gap: 24px;
      width: 846px;

      a {
        flex-shrink: 0;
      }

      img {
        height: 60px;
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .container {
    max-width: calc(100% - 32px);
  }

  .header {
    margin-top: 0;
    background-color: $color-blue-header;

    &_in {
      justify-content: space-between;
      align-items: start;
      padding: 12px 0;
      gap: 12px;
      background-image: none;
    }

    &_btns {
      display: flex;
    }

    &_left {
      align-items: start;
      flex-direction: row;
      gap: 12px;
      text-align: left;
      max-width: 100%;

      .main_title {
        font-size: 12px;
        line-height: 14px;
      }
    }

    &_logo {
      flex-shrink: 0;
      max-width: 52px;
      max-height: 52px;
    }

    &_right {
      display: none;
    }
  }

  .nav {
    display: none;
    margin-top: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-blue-dark;

    &_close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      display: block;
    }

    &_link {
      padding: 40px 20px 20px 20px;
      flex-direction: column;
      gap: 10px;

      a {
        font-size: 14px;
      }

      button {
        display: none;
      }
    }
  }

  .nav.active {
    display: block;
  }

  .council {

    .container {
      max-width: 100%;
    }

    &_in {
      padding-left: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 16px;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
    }
    }

    &_block {
      gap: 12px;
      min-width: 140px;
      flex-direction: column;

      h6 {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .publication_cards {
    .publication_card {
      width: calc(100%);

      &_img {
        padding: 22px;
      }
    }

    .services_title {
      .main_line {
        display: none;
      }

      .main_title {
        white-space: wrap;
      }
    }

    .card_img {
      padding-bottom: 140px;
    }

    .services_card {
      width: 100%;
    }

    .publication_pagination {
      a {
        &:nth-child(5) {
          display: none;
        }
        &:nth-child(6) {
          display: none;
        }
      }
    }
  }

  .footer {
    background-color: $color-blue-light;
    border-top: 4px solid $color-blue-dark;
    margin-bottom: 0;

    &_in {
      border-top: 0;
      padding: 24px 0;
      flex-direction: column;
      gap: 16px;
    }

    &_left {
      .main_title {
        font-size: 14px;
        line-height: 20px;
      }

      a {
        display: none;
      }
    }

    &_contact {
      .email {
        display: block;
      }
    }

    &_links {
      gap: 4px 24px;
    }
  }

  .news_block {
    &__card {
      flex-direction: column;

      a {
        img {
          height: 194px;
        }
      }
    }
  }

  .home {
    margin-top: 0;

    &__container {
      max-width: 100%;
      gap: 0px;
    }

    &__swp {
      .swiper-slide {
        height: 212px;

        img {
          border-radius: 0;
        }
      }
    }

    ul {
      border-radius: 0;
      padding: 56px 16px 40px;
    }
  }

  .library {
    &__item {
      li {
        width: 100% !important;
      }

      .main-img {
        height: 224px;
        padding: 17px;
      }
    }
  }

  .partners {
    &__list {
      width: calc(100% + 32px);
      margin-left: -16px;
      padding: 0 16px;
    }
  }
}

