@font-face {
  font-family: "CopperGothCpsExp";
  src: url("../fonts/a_CopperGothCpsExp/acoppergothcpsexp.eot"); /* IE9 */
  src: url("../fonts/a_CopperGothCpsExp/acoppergothcpsexp.eot?#iefix") format("embedded-opentype"), url("../fonts/a_CopperGothCpsExp/acoppergothcpsexp.ttf") format("truetype"), url("../fonts/a_CopperGothCpsExp/acoppergothcpsexp.svg#CopperGothCpsExp") format("svg"); /* Legacy iOS */
  font-style: normal;
}
@font-face {
  font-family: "MTS Sans";
  src: url("../fonts/MTSSansMedium/MTSSans-Medium.woff2") format("woff2"), url("../fonts/MTSSansMedium/MTSSans-Medium.woff") format("woff"), url("../fonts/MTSSansMedium/MTSSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MTS Sans";
  src: url("../fonts/MTSSansRegular/MTSSans-Regular.woff2") format("woff2"), url("../fonts/MTSSansRegular/MTSSans-Regular.woff") format("woff"), url("../fonts/MTSSansRegular/MTSSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MTS Sans";
  src: url("../fonts/MTSSansBold/MTSSans-Bold.woff2") format("woff2"), url("../fonts/MTSSansBold/MTSSans-Bold.woff") format("woff"), url("../fonts/MTSSansBold/MTSSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
}
@media screen and (max-width: 1300pxpx) {
  .container {
    max-width: calc(100% - 112px);
  }
}

.main_title {
  font-family: "CopperGothCpsExp";
  font-size: 16px;
  font-weight: 700;
  line-height: 18.64px;
  color: #181B21;
}
.main_block {
  display: flex;
  align-items: center;
  gap: 16px;
}
.main_line {
  height: 4px;
  width: 100%;
  background-color: #134781;
  border-radius: 4px;
}

.news_block {
  max-width: 304px;
}
.news_block_title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.news_block_title .main_title {
  white-space: nowrap;
}
.news_block ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #EFF2F9;
  padding: 16px;
  border-radius: 8px;
}
.news_block ul span {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #134781;
}
.news_block ul a {
  display: flex;
  gap: 16px;
}
.news_block ul h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #181B21;
}
.news_block li {
  border-bottom: 1px dashed #CDD4E5;
  padding-bottom: 16px;
}
.news_block li:last-child {
  border-bottom: none;
}

.header {
  margin-top: 30px;
}
.header_in {
  padding: 16px 24px;
  border-radius: 8px;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  gap: 52px;
}
.header_left {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.header_left .main_title {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.header_left_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.header_left span {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #181B21;
}
.header_right {
  max-width: 780px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header_right p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #393C41;
}
.header_btns {
  display: none;
  gap: 8px;
}

.nav {
  margin-top: 16px;
}
.nav_close {
  display: none;
}
.nav_link {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: #134781;
}
.nav_link a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  position: relative;
}
.nav_link a::before {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 2px;
  width: 100%;
  background-color: #DF0101;
}
.nav_link a:hover::before {
  display: block;
}
.nav_link a.active::before {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 2px;
  width: 100%;
  background-color: #DF0101;
}
.nav_link button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.publication_cards {
  margin-top: 24px;
}
.publication_cards_in {
  width: 100%;
}
.publication_cards_title {
  margin-bottom: 24px;
}
.publication_cards .container {
  display: flex;
  gap: 32px;
  width: 100%;
  align-items: start;
}
.publication_cards_block {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 32px;
}
.publication_cards .services_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}
.publication_cards .services_card {
  width: calc(33.3333333333% - 22px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 12px;
  padding: 24px;
  position: relative;
}
.publication_cards .services_card_title {
  display: flex;
  align-items: center;
  gap: 16px;
}
.publication_cards .services_card_title svg {
  flex-shrink: 0;
}
.publication_cards .services_card h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #181B21;
}
.publication_cards .services_card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #393C41;
}
.publication_cards .services_card img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.publication_cards .services_card_two {
  width: calc(66.6666666667% - 10px);
}
.publication_cards .publication_card {
  width: calc(33.3333333333% - 22px);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.publication_cards .publication_card_img {
  border-radius: 8px;
  background-color: #ECECEC;
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.publication_cards .publication_card_img img {
  border-radius: 0 !important;
  width: 110px;
  height: 180px;
}
.publication_cards .publication_card img {
  border-radius: 8px;
}
.publication_cards .publication_card h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #181B21;
}
.publication_cards .publication_card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #393C41;
}
.publication_cards .publication_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.publication_cards .publication_pagination a {
  font-family: "MTS Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: black;
  display: block;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  margin-top: 64px;
  margin-bottom: 45px;
}
.footer_in {
  border-radius: 0 0 8px 8px;
  border-top: 4px solid #134781;
  background-color: #EFF2F9;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 32px 24px 24px 24px;
}
.footer_left {
  max-width: 284px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_left a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #393C41;
}
.footer_right {
  display: flex;
  align-items: start;
  gap: 32px;
  justify-content: space-between;
}
.footer_contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 283px;
}
.footer_contact a {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #181B21;
}
.footer_contact .email {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #393C41;
}
.footer_contact address {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #393C41;
}
.footer_links {
  max-width: 585px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 24px;
}
.footer_links a {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #181B21;
}
.footer .main_title {
  font-size: 14px;
  line-height: 20px;
}
.footer .main_title br {
  display: none;
}
.footer .main_title span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

@media only screen and (max-width: 1400px) {
  .container {
    max-width: calc(100% - 116px);
  }
  .header_in {
    gap: 32px;
  }
  .header_left {
    max-width: 243px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: calc(100% - 144px);
  }
  .nav_link {
    gap: 15px;
  }
  .publication_cards .publication_card {
    width: calc(50% - 16px);
  }
  .footer {
    margin-bottom: 30px;
  }
  .footer_right {
    flex-direction: column;
    gap: 16px;
  }
  .footer_contact {
    max-width: 100%;
    gap: 8px;
  }
  .footer_links {
    max-width: 100%;
    gap: 8px 16px;
  }
}
@media only screen and (max-width: 993px) {
  .container {
    max-width: calc(100% - 64px);
  }
  .news_block {
    display: none;
  }
  .header_left {
    max-width: 230px;
  }
  .nav_link {
    gap: 9px;
  }
  .nav_link a {
    font-size: 12px;
    line-height: 18px;
  }
  .footer {
    margin-bottom: 22px;
  }
  .footer_left .main_title {
    font-size: 12px;
    line-height: 18px;
  }
  .footer_contact {
    gap: 4px;
  }
  .footer_links {
    gap: 4px 12px;
  }
}
@media only screen and (max-width: 740px) {
  .container {
    max-width: calc(100% - 32px);
  }
  .header {
    margin-top: 0;
    background-color: #E3E8F4;
  }
  .header_in {
    justify-content: space-between;
    align-items: start;
    padding: 12px 0;
    gap: 12px;
    background-image: none;
  }
  .header_btns {
    display: flex;
  }
  .header_left {
    align-items: start;
    flex-direction: row;
    gap: 12px;
    text-align: left;
    max-width: 100%;
  }
  .header_left .main_title {
    font-size: 12px;
    line-height: 14px;
  }
  .header_logo {
    flex-shrink: 0;
    max-width: 52px;
    max-height: 52px;
  }
  .header_right {
    display: none;
  }
  .nav {
    display: none;
    margin-top: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #134781;
  }
  .nav_close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    display: block;
  }
  .nav_link {
    padding: 40px 20px 20px 20px;
    flex-direction: column;
    gap: 10px;
  }
  .nav_link a {
    font-size: 14px;
  }
  .nav_link button {
    display: none;
  }
  .nav.active {
    display: block;
  }
  .publication_cards .publication_card {
    width: 100%;
  }
  .publication_cards .publication_card_img {
    padding: 22px;
  }
  .publication_cards .publication_pagination a:nth-child(5) {
    display: none;
  }
  .publication_cards .publication_pagination a:nth-child(6) {
    display: none;
  }
  .footer {
    background-color: #EFF2F9;
    border-top: 4px solid #134781;
    margin-bottom: 0;
  }
  .footer_in {
    border-top: 0;
    padding: 24px 0;
    flex-direction: column;
    gap: 16px;
  }
  .footer_left .main_title {
    font-size: 14px;
    line-height: 20px;
  }
  .footer_left a {
    display: none;
  }
  .footer_contact .email {
    display: block;
  }
  .footer_links {
    gap: 4px 24px;
  }
}/*# sourceMappingURL=style.css.map */