@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

@font-face {
    font-family: 'CopperGothCpsExp';
    src: url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.eot'); /* IE9 */
    src: url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        //  url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.woff2') format('woff2'), /* Super modern browsers */
        //  url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.woff') format('woff'), /* Modern browsers */
         url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.svg#CopperGothCpsExp') format('svg'); /* Legacy iOS */
    font-style: normal;
}

// colors
$color-head: #181B21;
$color-blue-dark: #134781;
$color-primary: #393C41;
$color-blue-light: #EFF2F9;
$color-blue-header: #E3E8F4;
$color-red: #DF0101;
// colors

// fonts
$font-inter: "Inter", sans-serif;
$font-CopperGothCpsExp: "CopperGothCpsExp";
// fonts

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .3s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-inter;
    font-style: normal;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1312px;
    margin: 0 auto;

    @include media(1300px) {
        max-width: calc(100% - 112px);
    }
}

// header
.header {
    margin-top: 30px;

    &_in {
        padding: 16px 24px;
        border-radius: 8px;
        background-image: url('../images/header_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        gap: 52px;
    }

    &_left {
        max-width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;

        .main_title {
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
        }

        &_text {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        span {
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
            color: $color-head;
        }
    }

    &_right {
        max-width: 780px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-primary;

        }
    }

    &_btns {
        display: none;
        gap: 8px;
    }
}
// header

// nav
.nav {
    margin-top: 16px;

    &_close {
        display: none;
    }

    &_link {
        padding: 8px;
        border-radius: 8px;
        @include flex-full-center();
        gap: 24px;
        background-color: $color-blue-dark;

        a {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: white;
            position: relative;

            &::before {
                display: none;
                content: '';
                position: absolute;
                left: 0;
                bottom: -8px;
                height: 2px;
                width: 100%;
                background-color: $color-red;
            }

            &:hover {
                &::before {
                    display: block;
                }
            }
        }

        a.active {
            &::before {
                display: none;
                content: '';
                position: absolute;
                left: 0;
                bottom: -8px;
                height: 2px;
                width: 100%;
                background-color: $color-red;
            }
        }

        button {
            @include flex-full-center();
        }
    }
}
// nav

.main {
    &_title {
        font-family: $font-CopperGothCpsExp;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.64px;
        color: $color-head;
    }

    &_line {
        height: 4px;
        width: 100%;
        background-color: $color-blue-dark;
        border-radius: 4px;
    }
}

// council
.council {

}
// council

// footer
.footer {
    margin-top: 64px;
    margin-bottom: 45px;

    &_in {
        border-radius: 0 0 8px 8px;
        border-top: 4px solid $color-blue-dark;
        background-color: $color-blue-light;
        display: flex;
        justify-content: space-between;
        gap: 32px;
        padding: 32px 24px 24px 24px;
    }

    &_left {
        max-width: 284px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-primary;
        }
    }

    &_right {
        display: flex;
        align-items: start;
        gap: 32px;
        justify-content: space-between;
    }

    &_contact {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 283px;

        a {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: $color-head;
        }

        .email {
            display: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-primary;
        }

        address {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-primary;
        }
    }

    &_links {
        max-width: 585px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px 24px;

        a {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: $color-head;
        }
    }

    .main_title {
        font-size: 14px;
        line-height: 20px;

        br {
            display: none;
        }

        span {
            font-family: $font-inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
    }
}
// footer



@import './responsive';
