@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

@font-face {
    font-family: 'CopperGothCpsExp';
    src: url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.eot'); /* IE9 */
    src: url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        //  url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.woff2') format('woff2'), /* Super modern browsers */
        //  url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.woff') format('woff'), /* Modern browsers */
         url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/a_CopperGothCpsExp/acoppergothcpsexp.svg#CopperGothCpsExp') format('svg'); /* Legacy iOS */
    font-style: normal;
}

@font-face {
    font-family: 'MTS Sans';
    src: url('../fonts/MTSSansMedium/MTSSans-Medium.woff2') format('woff2'),
        url('../fonts/MTSSansMedium/MTSSans-Medium.woff') format('woff'),
        url('../fonts/MTSSansMedium/MTSSans-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}

@font-face {
    font-family: 'MTS Sans';
    src: url('../fonts/MTSSansRegular/MTSSans-Regular.woff2') format('woff2'),
        url('../fonts/MTSSansRegular/MTSSans-Regular.woff') format('woff'),
        url('../fonts/MTSSansRegular/MTSSans-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

@font-face {
    font-family: 'MTS Sans';
    src: url('../fonts/MTSSansBold/MTSSans-Bold.woff2') format('woff2'),
        url('../fonts/MTSSansBold/MTSSans-Bold.woff') format('woff'),
        url('../fonts/MTSSansBold/MTSSans-Bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
}


// colors
$color-head: #181B21;
$color-blue-dark: #134781;
$color-primary: #393C41;
$color-blue-light: #EFF2F9;
$color-blue-header: #E3E8F4;
$color-red: #DF0101;
$color-border: #CDD4E5;
$color-grey: #ECECEC;
$color-support: #CCCCCC;
$color-grey-light: #F0F0F0;

// colors

// fonts
$font-inter: "Inter", sans-serif;
$font-MTS-Sans: "MTS Sans", sans-serif;
$font-CopperGothCpsExp: "CopperGothCpsExp";
// fonts

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .3s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-inter;
    font-style: normal;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1312px;
    margin: 0 auto;

    @include media(1300px) {
        max-width: calc(100% - 112px);
    }
}

.main {
    &_title {
        font-family: $font-CopperGothCpsExp;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.64px;
        color: $color-head;
    }

    &_block {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &_line {
        height: 4px;
        width: 100%;
        background-color: $color-blue-dark;
        border-radius: 4px;
    }
}

.more-btn {
    padding: 8px;
    border: 1px solid #CCCCCC;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    color: #134781;
    font-size: 16px;
    line-height: 24px;
}

// news_block
.news_block {
    max-width: 304px;

    &_title {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;

        .main_title {
            white-space: nowrap;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: $color-blue-light;
        padding: 16px;
        border-radius: 8px;

        span {
            min-width: 54px;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: $color-blue-dark;
        }

        a {
            display: flex;
            gap: 16px;
        }

        h6 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: $color-head;
        }
    }

    li {
        border-bottom: 1px dashed $color-border;
        padding-bottom: 16px;

        &:last-child {
            border-bottom: none;
        }
    }

    &__card {
        display: flex;
        margin-bottom: 24px;
        gap: 32px;

        a {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;

            img {
                border-radius: 8px;
                height: 172px;
                width: 100%;
                object-fit: cover;
            }

            span {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
            }
        }
    }
}
// news_block

// header
.header {
    margin-top: 30px;

    &_in {
        padding: 16px 24px;
        border-radius: 8px;
        background-image: url('../images/header_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        gap: 52px;
    }

    &_left {
        width: 270px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;

        .main_title {
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #1E3459;
        }

        &_text {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        span {
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
            color: $color-head;
        }
    }

    &_right {
        max-width: 780px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-primary;

        }
    }

    &_btns {
        display: none;
        gap: 8px;
    }
}
// header

// nav
.nav {
    margin-top: 16px;

    &_close {
        display: none;
    }

    &_link {
        padding: 8px;
        border-radius: 8px;
        @include flex-full-center();
        gap: 24px;
        background-color: $color-blue-dark;

        a {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: white;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -8px;
                height: 2px;
                width: 100%;
                background-color: $color-red;
                opacity: 0;
                transition: .3s ease-out all;
            }

            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }

        a.active {
            &::before {
                display: none;
                content: '';
                position: absolute;
                left: 0;
                bottom: -8px;
                height: 2px;
                width: 100%;
                background-color: $color-red;
            }
        }

        .search_inp {
            display: none;
            width: 100%;

            input {
                background: white;
                width: 100%;
                height: 26px;
                border-radius: 4px;
                padding: 0 16px;
                font-size: 12px;
                border: 1px solid #9498A1;

                &::placeholder {
                    color: #9498A1;
                }
            }

            button {
                display: none;
                flex-shrink: 0
            }
        }

        button {
            @include flex-full-center();
        }

        &.active {
            padding: 5px 24px;
            .nav_item:not(.search_inp):not(.search_btn) {
                display: none;
            }

            .search_inp {
                display: block;
            }
        }
    }
}
// nav

// council
.council {
    margin: 40px 0;

    .main_title {
        white-space: nowrap;
    }

    &_in {
        margin-top: 24px;
        display: flex;
        gap: 16px 32px;
        flex-wrap: wrap;
    }

    &_block {
        width: calc(100% / 4 - 24px);
        display: flex;
        align-items: center;
        gap: 24px;

        img {
            flex-shrink: 0;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        h6 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: $color-head;
        }
    }
}
// council

// publication_cards
.publication_cards {
    margin-top: 24px;

    &_in {
        width: calc(100% - 336px);
    }

    .services_title {
        .main_title {
            white-space: nowrap;
        }
    }

    .services_bottom {
        p {
            max-width: 620px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $color-primary;
            margin-bottom: 32px;
        }

        a {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: white;
            padding: 12px 16px;
            border-radius: 8px;
            background-color: $color-red;
        }
    }

    &_title {
        margin-bottom: 24px;
    }

    .container {
        display: flex;
        gap: 32px;
        width: 100%;
        align-items: start;
    }

    &_block {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-bottom: 32px;
    }

    .services_cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px 32px;
    }

    .services_card {
        width: calc(100% / 3 - 22px);
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: 1px solid $color-support;
        border-radius: 12px;
        padding: 24px;
        position: relative;

        &_title {
            @include flex-center();
            gap: 16px;

            svg {
                flex-shrink: 0;
            }

            .number {
                width: 52px;
                height: 52px;
                flex-shrink: 0;
                border-radius: 50%;
                background-color: $color-grey-light;
                @include flex-full-center();

                span {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    color: $color-head;
                }
            }
        }

        h6 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: $color-head;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $color-primary;
        }

        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .services_card_two {
        width: calc(100% / 3 * 2 - 10px);
    }

    .publication_card {
        width: calc(100% / 3 - 22px);
        display: flex;
        flex-direction: column;
        gap: 12px;

        &_img {
            border-radius: 8px;
            background-color: $color-grey;
            width: 100%;
            padding: 12px;
            @include flex-full-center();

            img {
                border-radius: 0 !important;
                width: 110px;
                height: 180px;
            }
        }

        img {
            border-radius: 8px;
        }

        h6 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: $color-head;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $color-primary;
        }
    }

    .publication_pagination {
        @include flex-full-center();
        gap: 4px;

        a {
            font-family: $font-MTS-Sans;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: black;
            display: block;
            width: 44px;
            height: 44px;
            @include flex-full-center();
        }
    }
}
// publication_cards

// center_content
.center_content {
    margin-bottom: 24px;

    .container {
        display: flex;
        gap: 32px;
    }

    &_in {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
// center_content

// footer
.footer {
    margin-top: 64px;
    margin-bottom: 45px;

    &_in {
        border-radius: 0 0 8px 8px;
        border-top: 4px solid $color-blue-dark;
        background-color: $color-blue-light;
        display: flex;
        justify-content: space-between;
        gap: 32px;
        padding: 32px 24px 24px 24px;
    }

    &_left {
        max-width: 284px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-primary;
        }
    }

    &_right {
        display: flex;
        align-items: start;
        gap: 32px;
        justify-content: space-between;
    }

    &_contact {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 283px;

        a {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: $color-head;
        }

        .email {
            display: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-primary;
        }

        address {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-primary;
        }
    }

    &_links_in {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &_text {
        display: flex;
        flex-direction: column;
        gap: 12px;

        span {
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
            color: #393C41;
        }

        img {
            width: 261px;
            height: 11px;
        }
    }

    &_links {
        max-width: 585px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px 24px;

        a {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: $color-head;
        }
    }

    .main_title {
        font-size: 14px;
        line-height: 20px;
        color: #1E3459;
        font-weight: 700;

        br {
            display: none;
        }

        span {
            font-family: $font-inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: #393C41;
        }
    }
}
// footer

// Home
.home {
    margin-top: 24px;

    &__container {
        display: flex;
        align-items: flex-start;
    }

    &__swp {
        width: calc(100% - 336px);
        position: relative;

        .swiper-slide {
            height: 550px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }

    .swp-pagination {
        position: absolute;
        bottom: -26px;
        left: 0;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 8px;

        span {
            width: 8px;
            height: 8px;
            padding: 0;
            margin: 0 !important;
            opacity: 1;
            background: #D9D9D9;

            &.swiper-pagination-bullet-active {
                background: #A2A2A2;
            }
        }
    }

    ul {
        width: 336px;
        flex-shrink: 0;
        padding-left: 32px;

        li {
            position: relative;
            border-bottom: 1px solid #CCCCCC;
            padding: 12px 0;
            z-index: 1;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            user-select: none;
            cursor: pointer;

            &.active::before {
                content: "";
                position: absolute;
                left: -32px;
                top: 0;
                width: calc(100% + 24px);
                height: 100%;
                background: #EFF2F9;
                z-index: -1;
                border-left: 8px solid #E60101;
            }
        }
    }
}
// Home end

// Library
.library {
    margin-bottom: 24px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__item {
        ul {
            margin-bottom: 24px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 32px;
        }

        li {
            width: calc(25% - 24px);
        }

        a {
            width: 100%;
            display: block;
        }

        .main-img {
            width: 100%;
            height: 200px;
            padding: 10px;
            background: #ECECEC;
            border-radius: 8px;
            margin-bottom: 12px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        h6 {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            margin-bottom: 8px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #393C41;
        }
    }
}
// Library end


// Partners
.partners {
    ul {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        a {
            width: 100%;
        }

        img {
            height: 80px;
            object-fit: contain
        }
    }
}
// Partners  end

// History
.history {
    width: 100%;

    .title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    &__swp {
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: 32px;
        margin-bottom: 16px;

        &_left {
            width: calc(100% - 226px);
            position: relative;

            .swiper {
                border-radius: 8px;

                &-slide {
                    height: 424px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        &_right {
            width: 194px;
            position: relative;

            .swiper {
                height: 424px;
                border-radius: 8px;

                &-slide {
                    &.swiper-slide-thumb-active {
                        img {
                            border: 2px solid #E50101;
                        }
                    }

                    img {
                        border-radius: 8px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover
                    }
                }
            }

            button {
                position: absolute;
                left: 0;
                width: 100%;
                height: 26px;
                background: rgba(255, 255, 255, 0.8);
                z-index: 2;
            }

            .swiper-button-disabled {
                display: none;
            }

            .prev-btn {
                top: 0;

                svg {
                    transform: rotateZ(180deg);
                }
            }

            .next-btn {
                bottom: 0;
            }
        }
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 32px;

        li {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        p {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            line-height: 24px;

            span {
                color: #9498A1;
            }
        }
    }

    .descriptions {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .text-gray {
            color: #393C41;
        }

        iframe {
            width: 660px;
            height: 372px;
        }

        &_card {
            display: flex;
            align-items: flex-start;
            gap: 32px;

            &__left {
                width: calc(100% - 336px);
                display: flex;
                flex-direction: column;
                gap: 32px;
            }

            &__right {
                width: 304px;
            }

            a {
                background: #F0F0F0;
                border-radius: 8px;
                overflow: hidden;
                display: block;

                img {
                    height: 172px;
                    width: 100%;
                    object-fit: cover
                }

                span {
                    padding: 16px;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                }
            }
        }
    }
}
// History end

// Other articles
.other-articles {
    margin-top: 52px;

    ul {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        margin-bottom: 24px;
        padding-top: 24px;
        border-top: 4px solid #134781;

        li {
            width: 100%;
        }

        a {
            width: 100%;
            display: block;
        }

        img {
            width: 100%;
            height: 172px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 12px;
        }

        span {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
        }
    }
}
// Other articles end

// Library card
.library-card {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    .main-img {
        width: 416px;
        height: 590px;
        border-radius: 8px;
        background: #EDEDED;
        padding: 42px;

        img {
            width: 100%;
        }
    }

    &__content {
        width: calc(100% - 448px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        p {
            font-size: 16px;
            line-height: 24px;

            span {
                color: #9498A1;
            }
        }

        a {
            display: flex;
            align-items: flex-start;
            gap: 12px;
            padding: 12px 16px;
            background: #F2F2F2;
            border-radius: 8px;
            width: 284px;

            .text {
                display: flex;
                flex-direction: column;
                gap: 4px;
                color: #393C41;
                font-size: 14px;
                line-height: 20px;

                span:last-child {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}
// Library card end

.other-library {
    margin-top: 52px;
}

@import './responsive';
